<h2>Contact List Page</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Street</th>
      <th>City</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{contact.id}}</td>
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
      <td>{{contact.street}}</td>
      <td>{{contact.city}}</td>
      <td><a routerLink="/contacts/{{ contact.id }}">Link</a></td>
    </tr>
  </tbody>
</table>
